.advantages {
    min-height: 470px;
    background: #F6F6F6;
    padding: 70px 0 60px 0;
    &__icons {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        text-align: center;
        width: 268px;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: #0D0D0D;
        &__header {
            margin: 35px 0 20px 0;
            font-weight: 700;
            font-size: 18px;
            line-height: 29px;
        }
        a {
            color: #FF0000;
        }
        &_animation {
            img{
                // animation: animation-name animation-duration animation-timing-function animation-delay animation-iteration-count animation-direction;
                animation-name: heartbeat;
                animation-duration: 2s;
                animation-timing-function: ease;
                animation-iteration-count: infinite; //бесконечно
                &:hover {
                    animation-play-state: paused;
                }
            }
        }
    }
}